.gradle/
.kotlin/
build/
local.properties
*.jks
*.keystore
release-key.properties
keystore.properties

**/build/

functions/lib/
functions/node_modules/
functions/.runtimeconfig.json

*.iml
.idea/
**/xcuserdata/
.DS_Store
